

body{
  background-color: #61d4b3;
  text-align: center;
}
.header{
  width: 100%;
  height: 30px;
  background-color:#61d4b3;
  margin:0 auto;
}
.trademark{
  font-family:Caveat,cursive;
  float:left;
  color: #192965;
  position:absolute;
  right:10px;

}
.resume{
  font-family: Caveat,sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #192965;
  position:absolute;
  left:50px;
}
.resume:hover{
  background-color:whitesmoke ;
}
.top-container{
  font-family: sans-serif;
  position: relative;
  padding-top:25px;
}

.rain{
  position:absolute;
  top:100px;
  right:100px;
  width:100px;
}

.sun{
  position:absolute;
  top:250px;
  left:100px;
  width:100px;
}

h1{
  color: #192965;
  font-family: Sacramento;
  margin-top:120px;
  left:300px;
  font-size:562.5%;
}
.p{
  color: #192965;
  position: absolute;
  top:270px;
  right: 300px;
  font-size: 30px;
  font-family: Merriweather;
}
.bottom-container{
  background-color:#61d4b3;
  text-align: center;
  position:relative;
  width: 60%;
  margin:auto;
  display: inline-block;
}
.skill-row1{
  background-color:#61d4b3;
  text-align: center;
  position:relative;
  width: 60%;
  margin:auto;
  display: inline-block;
}
.skill-row2{
  background-color:#61d4b3;
  text-align: center;
  position:relative;
  width: 60%;
  margin:auto;
  display: inline-block;
}
.profile{
  position:relative;
  margin-top: 20px;
  border-radius: 100%;
  left:auto;
}
.hello{
  position:relative;
  font-size: 2em;
  font-family: Merriweather;
  color: #192965;
}
.headings{
  color: #192965;
  font-family: Merriweather;
  font-size:50px;

}
.description{
  font-size: 2em;
  font-family: Merriweather;
  color: #192965;
  text-align: left;
}
.webimg{
  float:left;
  width: 200px;
}
h3{
  color: #192965;
  position: relative;
  font-family: Merriweather;
  left:20px;
  top: 8px;
  text-align: left;
}
.webdes{
  color: #192965;
  font-family: Merriweather;
  font-size:20px;
  position: relative;
  top:10px;
  left:20px;
  text-align: left;
}
.h3{
  color: #192965;
  position: relative;
  font-family: Merriweather;
  left:20px;
  top: 50px;
  text-align: left;
}
.chicken{
  float:right;
  width: 200px;
}

.funny{
  color: #192965;
  font-family: Merriweather;
  font-size:20px;
  position: relative;
  top:50px;
  left:20px;
  text-align:left;
  bottom: 20px;
}
hr{
  width:50px;
  border-top : 7px dotted #0d627a;
}
.funny_stuffs{
  background-color:#61d4b3;
  text-align: center;
  position:relative;
  width: 60%;
  margin:auto;
  display: inline-block;
}
h2{
  top: 30px;
  color: #192965;
  position: relative;
  font-family: Merriweather;
}
.lovenonveg{
  color: #192965;
  font-family: Merriweather;
  font-size:15px;
  position: relative;
  padding-top: 25px;
}
.lovenonveg2{
  color: #192965;
  width: 40%;
  font-family: Merriweather;
  font-size:15px;
  position: relative;
  margin: 50px auto;
}
.footer{
  text-align: center;
  width: 60%;
  position: relative;
  margin: auto;
}
.footerp{
  font-size: 40px;
  color: #192965;
  position: relative;
  font-family: Merriweather,sans-serif;
}
img{
  padding:10px;
}
.footer1{
  width: 100%;
  height:25px;
  background-color: #61d4b3;
  text-align: center;
}
.copyright{
  font-size: 0.75rem;
  font-family: Merriweather,sans-serif;
  padding-top: 5px;
}
.btn {
	background-color:#424874;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:12px 15px;
	text-decoration:none;
  margin:25px auto;
}
.btn:hover {
	background-color:#512b58;
}
